 <!-- form handling -->
 <form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Movie Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="moviename" value="" placeholder="Movie Name">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">Year of Release</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="releaseyear" value="" placeholder="Year of Release">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">Duration</label>
            <input type="text" name="duration" value="" placeholder="Duration">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">Description of the Movie</label>
            <input type="text" name="description" value="" placeholder="Description">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">Director</label>
            <input type="text" name="director" value="" placeholder="Director">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">Writer</label>
            <input type="text" name="writer" value="" placeholder="Writer">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">Cast</label>
            <input type="text" name="cast" value="" placeholder="Cast">
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>